<!DOCTYPE html>
<html>
   <head>
      <script type="text/javascript" src="jquery.js"></script>
      <script type="text/javascript" src="angular.js"></script>
      <link rel="stylesheet" type="text/css" href="style.css">
   </head>

   <body ng-app="liveStocksPortfolio" ng-controller="bodyCtrl" ng-csp>
      <div id="main">
         <a>
            <span data-message="theTitle">Live Stocks Portfolio</span>
         </a>

         <div id="input">

            <div id="boxes">
               <!-- Symbol input box -->
               <input id="symbols" type="text" data-placeholder="searchString" placeholder="Stock name" ng-model="symbol" style="display:none;">
               <!-- Time input Box -->
               <div class="options" style="display:none">
                  <span data-message="marketOpens">Market opens</span>
                  <input id="from" type="Number" min="0" max="12" maxlength="2" ng-model="from">
                  <span data-message="marketCloses">to</span>
                  <input id="to" type="Number" min="1" max="24" maxlength="2" ng-model="to">
                  <span data-message="marketHours">(24-hours)</span>
               </div>
               <!-- Interval Input Box -->
               <div class="options" style="display:none">
                  <span data-message="updateEvery">Update every</span>
                  <input id="interval" type="Number" min="10" maxlength="4" ng-model="interval">
                  <span data-message="seconds">seconds</span>
               </div>
               <div class="websites" style="display:none">
                   <a target="_blank" href="https://it.investing.com/equities/">Investing.com</a>
                   <a target="_blank" href="http://it.advfn.com/">AdvFN</a>
               </div>
            </div>

            <div id="buttons">
               <a href="#" data-message="addStock">Add a new Stock</a>
               <a href="#" data-message="undoAddStock" style="display:none">Cancel</a>

               <a href="#" data-message="options">Options</a>
               <a href="#" data-message="undoOptions" style="display: none">Cancel</a>

               <a href="#" data-message="websites">Sites</a>
               <a href="#" data-message="undoWebsites" style="display: none">Cancel</a>
            </div>
         </div>

         <div id="container">
            <table>
               <thead>
                  <tr>
                     <th ng-click="toggleSort('t')">
                        <span data-message="stockName">Name</span><span class="sortorder" ng-show="sortKey === 't'" ng-class={reverse:reverse}></span>
                     </th>
                     <th ng-click="toggleSort('l')">
                        <span data-message="stockValue">Price</span><span class="sortorder" ng-show="sortKey === 'l'" ng-class={reverse:reverse}></span>
                     </th>
                     <th ng-click="toggleSort('c')">
                        <span data-message="stockVar">Change</span><span class="sortorder" ng-show="sortKey === 'c'" ng-class={reverse:reverse}></span>
                     </th>
                     <th ng-click="toggleSort('cp')">
                        <span data-message="stockVarPerc">Change&nbsp;%</span><span class="sortorder" ng-show="sortKey === 'cp'" ng-class={reverse:reverse}></span>
                     </th>
                     <th ng-click="toggleSort('target')">
                        <span data-message="stockTarget">Target</span><span class="sortorder" ng-show="sortKey === 'target'" ng-class={reverse:reverse}></span>
                     </th>
                     <th ng-click="toggleSort('stoploss')">
                        <span data-message="stockStoploss">StopLoss</span><span class="sortorder" ng-show="sortKey === 'stoploss'" ng-class={reverse:reverse}></span>
                     </th>
                     <th ng-click="toggleSort('shares')">
                        <span data-message="stockQ">Qty</span><span class="sortorder" ng-show="sortKey === 'shares'" ng-class={reverse:reverse}></span>
                     </th>
                     <th ng-click="toggleSort('cost')">
                        <span data-message="StockPrice">Cost</span><span class="sortorder" ng-show="sortKey === 'cost'" ng-class={reverse:reverse}></span>
                     </th>
                     <th ng-click="toggleSort('investment')">
                        <span data-message="StockInvestment">Investment</span><span class="sortorder" ng-show="sortKey === 'investment'" ng-class={reverse:reverse}></span>
                     </th>
                     <th ng-click="toggleSort('value')">
                        <span data-message="stockCurrent">Value</span><span class="sortorder" ng-show="sortKey === 'value'" ng-class={reverse:reverse}></span>
                     </th>
                     <th ng-click="toggleSort('ROI')">
                        <span data-message="stockRoi">ROI</span><span class="sortorder" ng-show="sortKey === 'ROI'" ng-class={reverse:reverse}></span>
                     </th>
                     <th ng-click="toggleSort('pROI')">
                        <span data-message="stockRoiPerc">ROI&nbsp;%</span><span class="sortorder" ng-show="sortKey === 'pROI'" ng-class={reverse:reverse}></span>
                     </th>
                     <th class="closeColumn"></th>
                  </tr>
               </thead>

               <tbody>
                  <tr ng-repeat="ele in list | sortBy:sortKey:reverse:this track by ele.id" ng-attr-title="{{ele.name}}">
                     <td>
                        <span class="stockName">{{ele.name}}</span>
                        <a target="_blank" href="https://www.google.com/finance?q=BIT:{{ele.t | uppercase}}" title="See it on Google Finance">
                            Google
                        </a>
                        <a target="_blank" href="https://it.finance.yahoo.com/quote/{{ele.t | uppercase}}.MI" title="See it on Yahoo Finance">
                            Yahoo
                        </a>
                     </td>
                     <td class="ids" style="display:none;">{{ele.id}}</td>
                     <td>{{ele.l}}</td>
                     <td><span color-up>{{ele.c}}</span> &euro;</td>
                     <td><span color-up>{{ele.cp}}</span> %</td>
                     <td contenteditable ng-class="redOrGreen(ele) === 'tGreen' ? 'tGreen' : '' " ng-model="target[ele.id]"></td>
                     <td contenteditable ng-class="redOrGreen(ele) === 'sRed' ? 'sRed' : '' " ng-model="stoploss[ele.id]"></td>
                     <td contenteditable ng-model="shares[ele.id]"></td>
                     <td contenteditable ng-model="cost[ele.id]"></td>
                     <td name="investment">{{investment(ele) | number:2}}</td>
                     <td name="value">{{value(ele) | number:2}}</td>
                     <td name="ROI" color-up>{{ROI(ele) | number:2}}</td>
                     <td name="pROI"><span color-up add-percent>{{percentROI(ele) | number:2}}</span></td>
                     <td class="close" color-up ng-click="delRow(ele)" title="Delete this row">&nbsp;x&nbsp;</td>
                  </tr>
               </tbody>

               <tfoot>
                  <td colspan="8"><span data-message="stocksTotal">Total</span></td>
                  <td>{{tInvestment() | number:2}}</td>
                  <td>{{tValue() | number:2}}</td>
                  <td color-up>{{tROI() | number:2}}</td>
                  <td color-up>{{tPercentROI() | number:2}}</td>
               </tfoot>

            </table>
         </div>

      </div>

    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="i18n.js"></script>
   </body>
</html>
